<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.org.xworkz"></context:component-scan>

	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="localSessionFactoryBean">
		<!-- <property name="configLocations" value="classpath:resources/mysql.xml"></property> -->
		<property name="dataSource" ref="driverManagerDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.org.xworkz.entity.MovieEntity</value>
				<value>com.org.xworkz.entity.AwardEntity</value>
				<value>com.org.xworkz.entity.ActorEntity</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

	</bean>

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="username" value="root" />
		<property name="password" value="xworkz" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/19thor.v07" />
	</bean>



</beans>